doctype html
html(lang="en")
    head
        title Estebanco

        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        link(rel="icon", type="ico", href="", sizes='32x32')
        link(rel="stylesheet", type="text/css", href="/css/main.css")

    body