/* ==========================================================================
   0. COLORS
   ========================================================================== */
$color-black: #333;
$color-brown: #46433A;
$color-brown-light: #7b5b4b;
$color-grey: #999;
$color-cream: #eee;

$color-red: #CE534D;
$color-blue: #64B6B1;


/* ==========================================================================
   1. FONTS
   ========================================================================== */
$font: 'Lato', sans-serif;