/* ==========================================================================
   0. COLORS
   ========================================================================== */

$color-cream: #DED4B9;
$color-brown: #46433A;
$color-red: #CE534D;
$color-blue: #64B6B1;


/* ==========================================================================
   1. FONTS
   ========================================================================== */