mixin bt(title, href)
    a(href=href, title=title).page-load=title
    
// ====== Main Header ======
header.main-header
    a(href="/", title="Home").page-load
        img(src="https://placeholdit.imgix.net/~text?txtsize=23&txt=260%C3%9790&w=260&h=90", alt="", width="260", height="90").main-header__logo
    nav#main-header__nav.main-header__nav
        +bt("Home", "/")
        +bt("About", "/about.html")
        +bt("Portfolio", "/blog-portfolio.html")
        +bt("Blog", "/blog.html")
    #main-header__button.main-header__button
        span.center
        span.center
        span.center

// ====== /Main Header ======