mixin bt(title, href)
    a(href=href, title=title).page-load=title
    
// ====== Main Header ======
header.main-header
    a(href="/", title="Home").page-load
        img(src="https://placeholdit.imgix.net/~text?txtsize=23&txt=260%C3%9790&w=260&h=90", alt="", width="", height="").main-header__logo
    nav#main-header__nav.main-header__nav
        +bt("Home", "/")
        +bt("About", "/about/")
        +bt("Portfolio", "/portfolio/")
        +bt("Blog", "/blog/")
        +bt("Contact", "/contact/")
    #main-header__button.main-header__button
        span.center
        span.center
        span.center
    include ../helpers/_sidebar-header-social

// ====== /Main Header ======