extends layouts/_index.jade

block body
    // ====== Portfolio blog page ======
    #page__about.page.page__blog__portfolio
        section.page__section
            // ====== Nav filters ======
            +nav_filters([
                { href: "/blog-portfolio.html", title: "all", class:"active" },
                { href: "#", title: "html" },
                { href: "#", title: "css" },
                { href: "#", title: "javascript" }
            ])
            // ====== /Nav filters ======
            .row.clearfix
                +block_info_2x2_post-thumb({title:"tit 2x2", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_2x1_post-thumb({title:"tit 2x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_1x1_post-thumb({title:"tit 1x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_1x1_post-thumb({title:"tit 1x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_1x1_post-thumb({title:"tit 1x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_1x1_post-thumb({title:"tit 1x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_2x1_post-thumb({title:"tit 2x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_2x2_post-thumb({title:"tit 2x2", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_1x1_post-thumb({title:"tit 1x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_1x1_post-thumb({title:"tit 1x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_2x1_post-thumb({title:"tit 2x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_2x1_post-thumb({title:"tit 2x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_1x1_post-thumb({title:"tit 1x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
                +block_info_1x1_post-thumb({title:"tit 1x1", color:"white", href:"#", src:"https://placeholdit.imgix.net/~text?txtsize=23&txt=564%C3%97400&w=564&h=400"})
            
    // ====== /Portfolio blog page ======