extends layouts/_index.jade


block body
    // ====== Home page ======
    #page__home.page.page__home
        include helpers/_banner-home.jade
        
        .page__home__cols.clearfix
            .cols__4
            .cols__4
            .cols__4
            .cols__4
    
    // ====== /Home page ======