// ====== Banner page Home ======
.banner.banner__page-home(style="background-image:url(/images/bg-banner-home.png)")
    .banner__page-home__bio.center-left(style="background-image:url(/images/bg-bio-banner-home.jpg);")
        p.b.b1
            b Hellow! 
        p.b.b2
            i Who am I
        span.hr-dotted.b.b3
        p.b.b4 Duis ea proident fugiat ad irure labore pariatur ut eiusmod Lorem cupidatat sit amet.
        ul.b.b5
            li 
                a(href="#", target="_blank") email@domain.com
            li 
                a(href="#", target="_blank") @twitter
        
    h1.font-title Title page
    h2.font-subtitle Subtitle page
// ====== /Banner page Home ======