// ====== Sidebar footer contact ======
.sidebar.sidebar__footer-contact
    p 
        strong street adress - 01800 - <a href="jhon@doe.com", title="", target="_blank">jhon@doe.com</a>
// ====== /Sidebar footer contact ======