@import url(https://fonts.googleapis.com/css?family=Lato:100,400,700,700italic,400italic,100italic);


.font-title,
.font-title__page,
.font-subtitle{
    font-weight: 600;
}

.font-title__page,
.font-title{
    font-size: em(60);
    text-transform: uppercase;
    padding-bottom: 40px;
}
.font-title__page{
    font-size: em(32);
}
.font-subtitle{
    font-size: em(28);
}
b{
    font-weight: 700;
}
i{
    font-style: italic;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;
}
p{
    padding-bottom: 20px;
}